In [1]:
import pandas as pd
import numpy as np

In [2]:
df_test = pd.read_csv('data_acquisition_idealistaAPI\collected_data\lisboa_p1-10.csv')

df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   propertyCode            500 non-null    int64
 1   thumbnail               500 non-null    object
 2   numPhotos               500 non-null    int64
 3   floor                   341 non-null    object
 4   price                   500 non-null    float64
 5   priceInfo               500 non-null    object
 6   propertyType            500 non-null    object
 7   operation               500 non-null    object
 8   size                    500 non-null    float64
 9   rooms                   500 non-null    int64
 10  bathrooms               500 non-null    int64
 11  address                 500 non-null    object
 12  province                500 non-null    object
 13  municipality            500 non-null    object
 14  district                473 non-null    object
 15  country                 500 non-null    object
 16  latitude                500 non-null    float64
 17  longitude               500 non-null    float64
 18  showAddress             500 non-null    bool
 19  url                     500 non-null    object
 20  hasVideo                500 non-null    bool
 21  status                  500 non-null    object
 22  newDevelopment          500 non-null    bool
 23  hasLift                 314 non-null    object
 24  priceByArea             500 non-null    float64
 25  detailedType            500 non-null    object
 26  suggestedTexts          500 non-null    object
 27  hasPlan                 500 non-null    bool
 28  has3DTour               500 non-null    bool
 29  has360                  500 non-null    bool
 30  hasStaging              500 non-null    bool
 31  highlight               13 non-null     object
 32  topNewDevelopment       500 non-null    bool
 33  topPlus                 500 non-null    bool
 34  externalReference       458 non-null    object
 35  description             206 non-null    object
 36  parkingSpace            107 non-null    object
 37  newDevelopmentFinished  26 non-null     object
 38  neighborhood            22 non-null     object
dtypes: bool(9), float64(5), int64(4), object(21)
memory usage: 121.7+ KB

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\nihon\AppData\Local\Temp\ipykernel_59272\3307920666.py:1: SyntaxWarning: invalid escape sequence '\c'
  df_test = pd.read_csv('data_acquisition_idealistaAPI\collected_data\lisboa_p1-10.csv')

## 1 What to do with each column

In [17]:
print(df_test.iloc[0:5,4])

0     435000.0
1     230000.0
2     329900.0
3     329900.0
4    2500000.0
Name: price, dtype: float64

In [42]:
#iterate to check each column and do a first filtering
column = 26 #number of column
df_test.iloc[0:1,column]
df_test.iloc[0,26]

"{'subtitle': 'São Vicente, Lisboa', 'title': 'Piso en Calçada dos Barbadinhos'}"

In [7]:
print(f'{df_test.columns[0]}: as index')
print(f'{df_test.columns[1]}: delete column')
print(f'{df_test.columns[2]}: FILTER for too few pictures (5?, 10?)')
print(f'{df_test.columns[3]}: turn object to number')
print(f'{df_test.columns[4]}: turn float to INT')
print(f'{df_test.columns[5]}: delete column: parece repetir info da coluna 4-price')
print(f'{df_test.columns[6]}: keep')
print(f'{df_test.columns[7]}: deele (all are "sale")')
print(f'{df_test.columns[8]}: turn float to INT')
print(f'{df_test.columns[9]}: keep')
print(f'{df_test.columns[10]}: keep')
print(f'{df_test.columns[11]}: delete')
print(f'{df_test.columns[12]}: keep')
print(f'{df_test.columns[13]}: keep')
print(f'{df_test.columns[14]}: keep')
print(f'{df_test.columns[15]}: delete')
print(f'{df_test.columns[16]}: keep')
print(f'{df_test.columns[17]}: keep')
print(f'{df_test.columns[18]}: delete')
print(f'{df_test.columns[19]}: delete')
print(f'{df_test.columns[20]}: or analyze which posts has video ans see if there is a correlation')
print(f'{df_test.columns[21]}: keep')
print(f'{df_test.columns[22]}: keep')
print(f'{df_test.columns[23]}: keep')
print(f'{df_test.columns[24]}: redundant?, delete?')
print(f'{df_test.columns[25]}: create new column getting the value from the dictionary "typology": "flat"')
print(f'{df_test.columns[26]}: delete?')

propertyCode: as index
thumbnail: as index

### Other cleaning
- check repeated entries in final DF

## LLM garbage cleaning (not ready to live in)